$mobile-width: "(max-width: 640px)";
$table-width: "(min-width: 641px)";
$desktop-width: "(min-width: 1200px)";

$blue: #283645;
$dark-blue: #1d2631;
$white: #ffffff;
$black: #000000;
$cream: #f2f2f2;
