.contest-form {
  padding-top: 28px;
  display: flex;
  flex-direction: column;

  &__fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

  &__field-wrap {
    padding-bottom: 45px;

    &--contacts {
      padding-bottom: 55px;
    }

    &--emotions {
      padding-bottom: 47px;
    }
  }

  &__field {
    text-align: left;
    font-weight: 400;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;

    &--contacts {
      flex-direction: column-reverse;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__field-label {
    margin-left: 24px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    color: #d22856;

    &--textarea {
      text-align: center;
      margin: 0;
      margin-bottom: 11px;
    }
  }

  &__input {
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    padding: 16px 20px 13px 22px;
    font-size: 18px;
    line-height: 30px;
    outline: none;

    &:hover {
      border: 2px solid $blue;
    }

    &:focus {
      border: 2px solid #d22856;
    }

    &::placeholder {
      color: $blue;
      font-size: 18px;
      line-height: 30px;
      opacity: 1;
    }

    &--textarea {
      height: 168px;
      resize: none;
    }
  }

  &__choose {
    background-color: $cream;
    padding-top: 36px;
    padding-bottom: 53px;
    margin-bottom: 30px;

    &--app {
      margin-bottom: 51px;
      padding-bottom: 46px;
    }
  }

  &__title {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #d22856;
    margin-bottom: 43px;

    &--legend {
      display: none;
    }

    &--app {
      margin-bottom: 39px;
    }
  }

  &__choose-item {
    padding-bottom: 52px;

    &:last-child {
      padding-bottom: 0;
    }

    &--app {
      padding-bottom: 45px;
    }
  }

  &__choose-label {
    display: block;
    padding-left: 70px;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    color: $blue;
    font-weight: 400;
    cursor: pointer;
    position: relative;

    &:hover::before {
      border: 2px solid $blue;
    }

    &:active::before {
      border: 2px solid #d22856;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: -5px;
      width: 35px;
      height: 35px;
      background-color: $white;
      border: 2px solid #e5e5e5;
      border-radius: 2px;
    }

    &--radio {

      &::before {
        border-radius: 50%;
      }
    }
  }

  &__checkbox {
    display: none;
  }

  &__radio {
    display: none;
  }

  &__btn {
    margin: 0 auto;
    background-color: #2aab6d;
    border-radius: 2px;
    width: 100%;
    padding: 18px 0 15px;
    text-transform: uppercase;
    margin-bottom: 37px;

    &:hover {
      background-color: #1c9b5e;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #1c9b5e;
    }

    &:disabled {
      background-color: #e5e5e5;
    }

    &--progress {
      animation: blind 4s infinite;
    }
  }
}

@keyframes blind {
  0% { color: rgba(255, 255, 255, 0.3); }
  50% { color: rgba(255, 255, 255, 0.7); }
  100% { color: rgba(255, 255, 255, 0.3); }
}

.contest-form__radio:checked + .contest-form__choose-label--radio::before {
  background: url('../img/icon-map-marker.svg') 50% 50% no-repeat $white;
}

.contest-form__checkbox:checked + .contest-form__choose-label--checkbox::before {
  background: url('../img/icon-yes.svg') 50% 50% no-repeat $white;
}

@media #{$table-width} {
  .contest-form {
    padding-top: 23px;

    &__fieldset {
      padding: 43px 58px 52px;
      border: 2px solid #e5e5e5;
      border-radius: 2px;

      &--app {
        padding-top: 43px;
        padding-bottom: 57px;
      }

      &--contacts {
        padding-top: 32px;
        padding-bottom: 27px;
      }

      &--emotions {
        padding-top: 28px;
      }
    }

    &__title {
      padding: 0 33px;
      margin: 0 auto;
      line-height: 30px;

      & br {
        display: none;
      }

      &--legend {
        display: block;
      }
    }
    &__field-wrap {
      order: 0;

      &--contacts {
        order: 3;
        padding-bottom: 15px;
      }

      &--emotions {
        order: 5;
        padding-bottom: 65px;
      }
    }

    &__choose {
      order: 4;
      background-color: inherit;
      margin-bottom: 0;

      &--app {
        order: 1;
        margin-bottom: 5px;
        padding-top: 6px;
      }
    }

    &__choose-label {
      padding-left: 59px;
    }

    &__container--send {
      order: 6;
      display: flex;
    }

    &__btn {
      width: 300px;
      margin: 0;
      margin-right: auto;
    }

    &__field {

      &--personal {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 52px;
      }

      &--contacts {
        flex-direction: column;
        padding-bottom: 28px;
      }
    }

    &__field-label {

      &--personal {
        margin: 0;
        margin-right: 20px;
      }

      &--textarea {
        padding: 0 40px;
        margin: 0 auto;
      }

      &--contacts {
        margin-bottom: 0;
        margin-top: 10px;
        margin-left: 20px;
      }
    }

    &__input {

      &--personal {
        flex-grow: 1;
      }

      &--contacts {
        padding-left: 19px;
      }

      &--email {
        background: url('../img/icon-mail.svg') no-repeat 95.5% 50%;
      }

      &--phone {
        background: url('../img/icon-phone.svg') no-repeat 95.5% 50%;
      }

      &--textarea {
        height: 161px;
      }
    }
  }
}

@media #{$desktop-width} {
  .contest-form {
    width: 940px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__input {

      &--textarea {
        padding-top: 13px;
        padding-left: 19px;
        height: 94px;
      }

      &--contacts {
        width: 329px;
      }

      &--personal {
        padding-left: 18px;
      }

      &--email {
        background: url('../img/icon-mail.svg') no-repeat 94.5% 50%;
      }

      &--phone {
        background: url('../img/icon-phone.svg') no-repeat 94.5% 50%;
      }
    }

    &__field-flex {
      display: flex;
      justify-content: space-between;
    }

    &__choose-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &--app {
        display: flex;
        flex-direction: column;
        padding: 0 43px;
      }
    }

    &__field {

      &--contacts {
        width: 375px;
        padding-bottom: 0;
      }
    }

    &__container {
      width: auto;
    }

    &__field-wrap {
      width: 435px;
      padding-top: 20px;
      padding-bottom: 0;

      &--contacts {
        padding-top: 52px;
        width: 100%;
      }

      &--emotions {
        width: 100%;
        padding-top: 0;
        padding-bottom: 65px;
      }
    }

    &__title {
      white-space: nowrap;

      &--app {
        padding: 0 20px;
      }
    }

    &__choose {
      width: 100%;
      padding-top: 50px;

      &--app {
        width: 435px;
        padding: 0;
        margin: 0;
      }
    }

    &__choose-item {
      width: 260px;

      &--app {
        padding-bottom: 45px;
      }

      &--selfi {
        order: 1;
      }

      &--norris {
        order: 2;
      }

      &--tower {
        order: 3;
      }

      &--beach {
        order: 4;
        padding-bottom: 0;
      }

      &--shopping {
        order: 5;
        padding-bottom: 0;
      }

      &--hotel {
        order: 6;
        padding-bottom: 0;
      }
    }

    &__fieldset {
      display: block;

      &--app {
        padding-left: 30px;
        padding-right: 30px;
      }

      &--contacts {
        display: block;
        padding-top: 30px;
        padding-bottom: 11px;
      }

      &--achieve {
        padding-right: 0px;
        padding-bottom: 59px;
      }

      &--emotions {
        padding-bottom: 46px;
      }
    }

    &__choose-label--checkbox {
      padding-left: 60px;
    }

    &__field-label {

      &--contacts {
        display: block;
      }
    }
  }
}
