.designed {
  padding-top: 39px;

  &__text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
    color: $blue;
    margin-right: 11px;
    margin-top: 5px;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    line-height: 0;

    &:hover .designed__svg {
        fill: #283645;
    }

    &:active .designed__svg {
        fill: #283645;
        opacity: 0.3;
    }
  }
}

@media #{$table-width} {
  .designed {
    margin: 0;
    padding: 0;
    padding-top: 5px;
  }
}

@media #{$desktop-width} {
  .designed {

    &__text {
      font-size: 18px;
    }
  }
}
