.download {
  padding: 24px 0 30px;
  color: $white;
  margin-top: 459px;

  &__btn {
    line-height: 18px;
    border: 3px solid $white;
    border-radius: 30px;
    padding: 17px 35px 15px;
    margin-bottom: 36px;

    &:hover {
      color: #d22856;
      background-color: $white;
    }

    &:active {
      color: rgba(210, 40, 86, 0.3);
      background-color: $white;
    }
  }

  &__text {
    margin: 0;
  }
}

@media #{$table-width} {
  .download {
    width: 300px;
    margin: 0;
    padding-top: 31px;
    padding-bottom: 110px;

    &__text {
      font-size: 18px;

    }

    &__btn {
      margin-bottom: 48px;
    }
  }
}

@media #{$desktop-width} {
  .download {
    padding-top: 53px;
    padding-bottom: 123px;

    &__btn {
      margin-bottom: 72px;
    }
  }
}
