.download {
  padding: 28px 0 29px;
  // margin: 0 auto;
  color: $white;
  // flex-direction: column;
  // justify-content: flex-start;
  margin-top: auto;

  &__btn {
    line-height: 18px;
    border: 3px solid $white;
    border-radius: 30px;
    padding: 16px 35px 15px;
    margin-bottom: 32px;
  }

  &__text {
    margin: 0;
  }
}

@media #{$table-width} {
  .download {
    width: 300px;
    margin: 0;
    padding-top: 26px;
    padding-bottom: 108px;

    &__text {
      font-size: 18px;
    }

    &__btn {
      margin-bottom: 46px;
    }
  }
}
