.effect {
  display: none;
}

@media #{$table-width} {
  .effect {
    display: block;
    padding-top: 58px;
    padding-bottom: 55px;

    &__content {
      min-height: 277px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      margin-left: auto;
      text-align: left;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;

      &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 240px;
        height: 277px;
        background: url('../img/icon-timer.svg') no-repeat;
        background-size: 240px;
      }

      &::after {
        position: absolute;
        top: 56px;
        left: 18px;
        content: "24";
        text-align: center;
        padding-top: 10px;
        color: #d22856;
        font-size: 96px;
        line-height: 150px;
        font-weight: 600;
        width: 176px;
        height: 166px;
        border-radius: 50%;
        border: 14px solid #d22856;
        background-color: $cream;
      }
    }

    &__title {
      margin: 0;
      font-size: 30px;
      line-height: 36px;
      font-weight: 600;
      color: $black;
      margin-bottom: 10px;
    }

    &__text {
      margin: 0;
      width: 300px;
      margin-bottom: 10px;
    }

    &__link {
      margin: 0;
      color: #d22856;
    }
  }
}

@media #{$desktop-width} {
  .effect {
    background-color: $cream;
    padding-top: 70px;
    padding-bottom: 65px;

    &__content {
      width: 61%;
      min-height: 0;
      padding-top: 97px;
      padding-bottom: 45px;

      &::before {
        width: 298px;
        height: 346px;
        background-size: 298px;
      }

      &::after {
        width: 219px;
        height: 209px;
        top: 68px;
        left: 22px;
        border: 17px solid #d22856;
        font-size: 120px;
        line-height: 187px;
      }
    }

    &__title {
      line-height: 30px;
      margin-bottom: 23px;

      & br {
        display: none;
      }
    }
    &__text {
      width: 100%;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 30px;

      & br {
        display: none;
      }
    }

    &__link {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
