.gallery {
  padding-top: 42px;
  display: flex;
  flex-direction: column;

  &__item {
    padding-bottom: 20px;
  }

  &__image {
    font-size: 0;
    line-height: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  &__label {
    margin: 0;
    display: block;
    position: absolute;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    top: 0;
    right: 0;
    z-index: 1;
    color: $white;
    text-transform: uppercase;
    background-color: #d22856;
    padding: 6px 20px;
  }

  &__slogan {
    padding: 23px 0;
    padding-bottom: 42px;
  }

  &__slogan-text {
    margin: 0;
    line-height: 30px;
  }
}

@media #{$table-width} {
  .gallery {
    padding-top: 29px;

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      width: 48.3%;
      margin: 0;
      padding: 0;
      padding-top: 20px;

      &--panorama {
        width: 100%;
        padding: 0;
        padding-bottom: 32px;
      }
    }

    &__label {
      top: 57px;
    }

    &__slogan {
      padding: 65px 0 68px;
    }

    &__slogan-text {
      font-size: 18px;
      line-height: 30px;
    }
  }
}

@media #{$desktop-width} {
  .gallery {
    padding-top: 11px;

    &__label {
      top: 54px;
    }

    &__item {
      width: 31.91%;
      padding-top: 53px;

      &--panorama {
        width: 100%;
        padding: 0;
      }
    }

    &__slogan {
      padding-top: 59px;
      padding-bottom: 66px;
    }
  }
}
