.info {
  padding-top: 35px;
  padding-bottom: 288px;
  background: url('../img/iphone-screen-mobile.png') no-repeat 50% 110% $cream;

  @media #{$retina} {
    background: url('../img/iphone-screen-mobile@2x.png') no-repeat 50% 110% $cream;
    background-size: 157px;
  }

  &::before {

  }

  &__items {
    padding-top: 70px;
  }

  &__item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $blue;
    margin-bottom: 37px;
  }

  &__item-title {
    font-size: 18px;
    font-weight: 600;
    color: $black;
    margin: 0;
    margin-bottom: 12px;
  }
  &__item-text {
    margin: 0;

    & br {
      display: none;
    }
  }
}

@media #{$table-width} {
  .info {
    padding: 0;
    background-image: none;

    &__items {
      display: flex;
      flex-direction: column;
      padding-left: 50%;
      text-align: left;
      background: url('../img/iphone-screen-tablet-3@1x.png') no-repeat 0 100% $cream;

      @media #{$retina} {
        background: url('../img/iphone-screen-tablet-3@2x.png') no-repeat 0 0 $cream;
        background-size: 268px;
      }
    }

    &__item-text {

      & br {
        display: block;
      }
    }
  }
}

@media #{$desktop-width} {
  .info {

    &__items {
      padding: 0;
      text-align: center;
      flex-direction: row;
      justify-content: space-around;
      background: none;
    }

    &__item {
      padding-top: 365px;
      width: 240px;
      margin-bottom: 0;

      &:nth-child(1) {
        background: url('../img/iphone-screen-desktop-1@1x.png') no-repeat 50% 0 $cream;

        @media #{$retina} {
          background: url('../img/iphone-screen-desktop-1@2x.png') no-repeat 50% 0 $cream;
          background-size: 292px;
        }
      }

      &:nth-child(2) {
        background: url('../img/iphone-screen-desktop-2@1x.png') no-repeat 50% 0 $cream;

        @media #{$retina} {
          background: url('../img/iphone-screen-desktop-2@2x.png') no-repeat 50% 0 $cream;
          background-size: 292px;
        }
      }

      &:nth-child(3) {
        background: url('../img/iphone-screen-desktop-3@1x.png') no-repeat 50% 0 $cream;

        @media #{$retina} {
          background: url('../img/iphone-screen-desktop-3@2x.png') no-repeat 50% 0 $cream;
          background-size: 292px;
        }
      }
    }

    &__item-title {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 22px;
    }

    &__item-text {
      font-size: 18px;
      line-height: 30px;

      & br {
        display: none;
      }
    }
  }
}
