.note {

  &__text {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    color: $blue;
  }

  &__mark {
    color: #d22856;
  }
}

@media #{$table-width} {
  .note {
    align-self: center;
  }
}
