.page-footer {
  padding-top: 50px;
  padding-bottom: 41px;

  &--main {
    padding-top: 45px;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 147px;
    height: 41px;
    float: none;
    padding-bottom: 40px;

    &--stars,
    &--stars-glass {
      display: none;
    }

    &:hover &--text,
    &:hover &--stars {
      fill: #d22856;
    }

    &:active &--text,
    &:active &--stars {
      fill: #283645;
      opacity: 0.3;
    }

    &:active &--stars {
      fill: #d22856;
      opacity: 0.3;
    }

    &:active &--glass,
    &:active &--stars-glass {
      opacity: 0.3;
    }
  }

  &__footer--main {
    display: none;
  }
}

@media #{$table-width} {
  .page-footer {

    &--photo {
      padding-top: 0;
    }

    &__footer {
      padding-top: 38px;

      &--main {
        display: block;
      }
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after {
        display: none;
      }
    }
    &__logo {
      margin: 0;
      padding: 0;
      align-self: flex-start;
    }
  }
}

@media #{$desktop-width} {
  .page-footer {

    &__logo {

      &--glass {
        display: none;
      }

      &--stars,
      &--stars-glass {
        display: block;
      }
    }
  }
}
