.page-footer {
  padding-top: 50px;
  padding-bottom: 41px;

  &--main {
    padding-top: 41px;
  }

  &--photo {
    padding-top: 39px;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 147px;
    height: 41px;
    float: none;
    padding-bottom: 40px;

    &:hover .page-footer__logo-text,
    &:hover .page-footer__logo-stars {
      fill: #d22856;
    }

    &:active .page-footer__logo-text,
    &:active .page-footer__logo-stars {
      fill: #283645;
      opacity: 0.3;
    }

    &:active .page-footer__logo-stars {
      fill: #d22856;
      opacity: 0.3;
    }

    &:active .page-footer__logo-glass,
    &:active .page-footer__logo-stars-glass {
      opacity: 0.3;
    }
  }

  &__logo-stars,
  &__logo-stars-glass {
    display: none;
  }

  &__footer--main {
    display: none;
  }
}

@media #{$table-width} {
  .page-footer {

    &--main {
      padding-top: 44px;
    }

    &--photo {
      padding-top: 0;
    }

    &__footer {
      padding-top: 38px;

      &--main {
        display: block;
      }
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after {
        display: none;
      }
    }
    &__logo {
      margin: 0;
      padding: 0;
      align-self: center;
    }
  }
}

@media #{$desktop-width} {
  .page-footer {

    &--main {
      padding-top: 61px;
    }

    &--photo {
      padding-top: 65px;
    }

    &__footer {

      &--main {
        padding-top: 73px;
      }

      &--form {
        padding-top: 23px;
      }
    }

    &__logo {

    }

    &__logo-glass {
      display: none;
    }

    &__logo-stars,
    &__logo-stars-glass {
      display: block;
    }
  }
}
