.range-control {
  display: none;
  width: 240px;
  position: relative;
  padding: 0 20px;
  background: transparent;
  overflow:hidden;

  &--active {
    display: block;
  }

  &--crop {

  }

  &--fill {

  }

  &--contrast {

  }

  &__scale {
    margin-top: 35px;
    margin-bottom: 34px;
    height: 2px;
    background: $blue;
  }

  &__toggle {
    position: absolute;
    top: 29px;
    left: 0;
    width: 10px;
    height:10px;
    border: 2px solid #d22856;
    background: $cream;
    cursor:pointer;
    border-radius: 50%;
    transform: translateX(20px);

    &:active {
      background: #d22856;
    }

    &--crop {
      left: 69%;
    }

    &--fill {
      left: 15%;
    }

    &--contrast {
      left: 45%;
    }
  }
}

@media #{$table-width} {
  .range-control {
    width: 202px;
    padding-left: 18px;
    padding-right: 18px;
    display: block;

    &__scale {
      margin-top: 19px;
    }

    &__toggle {
      top: 13px;
    }
  }
}

@media #{$desktop-width} {
  .range-control {
    flex-grow: 1;
    padding: 0 30px;
  }
}
