.redactor {
  background-color: $cream;

  &__upload {
    font-size: 0;
    line-height: 0;
  }
  &__btns {
    padding-top: 38px;
    padding-bottom: 41px;
    border-top: 1px solid #dddfe0;
  }

  &__btn {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 12px;
    border: 3px solid #d22856;
    border-radius: 30px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #d22856;
    padding: 15px 0 16px;
    background-color: inherit;

    &:hover {
      color: $white;
      background-color: #d22856;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #d22856;
    }

    &--cancel {
      margin-bottom: 0;
      color: rgba(40, 54, 69, 0.1);
      border: 3px solid #dddfe0;

      &:hover {
        border: 3px solid #b5b9be;
        color: rgba(40, 54, 69, 0.3);
        background-color: inherit;
      }

      &:active {
        border: 3px solid #b5b9be;
        color: rgba(255, 255, 255, 0.3);
        background-color: #b5b9be;
      }
    }
  }

  &__tools {
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__tool {
    text-align: left;
    position: absolute;
    top: 42px;

    &--active {
      position: static;

      & .redactor__icon-body {
        fill: #d22856;
      }
    }
  }

  &__link {
    font-size: 0;
    line-height: 0;
    text-decoration: none;

    display: block;
    margin-left: 36px;
    width: 48px;
    height: 48px;

    &:hover .redactor__icon-body {
      fill: #8d949b;
    }

    &--crop {

    }

    &--fill {
      position: absolute;
      margin-left: 116px;
    }

    &--contrast {
      position: absolute;
      margin-left: 204px;
      height: 32px;
      padding: 8px 0;
    }
  }

  &__container {
    padding-top: 20px;
  }
}

@media #{$table-width} {
  .redactor {

    &__image {
      // width: 300px;
      // height: 400px;
    }

    &__btns {
      border-top: none;
      padding: 0;
      padding-right: 13px;
      margin-top: auto;
    }

    &__btn {
      margin-bottom: 24px;

      &--cancel {
        margin-bottom: 0;
      }
    }

    &__upload {
      // width: 48.3%;
      width: 300px;
      margin-right: auto;
    }

    &__manage {
      width: 275px;
      display: flex;
      flex-direction: column;
    }

    &__tools {
      padding-top: 0;
      display: flex;
      flex-direction: column;
    }

    &__tool {
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #dddfe0;
      text-align: center;

      &--fill,
      &--contrast {
        padding-top: 17px;
      }
    }

    &__link {
      position: static;
      width: 24px;
      height: 24px;
      margin: 0;
      margin-right: auto;
      margin-left: 3px;
      margin-top: 9px;
      align-self: flex-start;

      &--crop {

      }

      &--fill {

      }

      &--contrast {
        height: 16px;
        padding: 4px 0;
      }
    }

    &__icon {
      width: 24px;
      height: 24px;

      &--contrast {
        width: 16px;
        height: 16px;
      }
    }

    &__icon-body {
      fill: #d22856;
    }

    &__container {
      display: flex;
      padding-top: 57px;
      padding-bottom: 55px;
    }
  }
}

@media #{$desktop-width} {
  .redactor {
    background-color: inherit;

    &__btns {
      display: flex;
      justify-content: space-between;
      padding-right: 0;
    }

    &__btn {
      margin: 0;
      width: 44.5%;
    }
    &__manage {
      width: 410px;
    }

    &__container {
      width: 800px;
      background-color: $cream;
      padding-left: 80px;
      padding-right: 60px;
    }

    &__link {
      margin: 0;
      margin-right: 14px;
      width: 48px;
      height: 48px;

      &--contrast {
        height: 32px;
        padding: 0;
        padding-bottom: 16px;
      }
    }

    &__icon {
      width: 48px;
      height: 48px;

      &--contrast {
        width: 32px;
        height: 32px;
      }
    }
  }
}
